@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
    --color-primario: #8C113E;
    --color-1: #03878C;
    --color-2: #8C7C1F;
    --color-3: #0D0D0D;
    --color-texto: white;

}

.btn {
    /* font-size: 2rem; */
    color: var(--color-3);
    padding: 15px 60px;
    border-radius: 62px;
    background-color: var(--color-primario);
    box-shadow: 0 0 1rem var(--color-primario);
    text-shadow: 0 0 1rem var(--color-3);
}

.btn:hover {
    box-shadow: none;
    text-shadow: none;
    transition: 0.5s ease;
}



.gradient,
.active {
    background: rgb(140, 17, 62);
    background: radial-gradient(circle, rgba(140, 17, 62, 1) 0%, rgba(52, 17, 140, 1) 100%);
}

.active {
    color: #fff;
    padding: 1rem;
    border-radius: 100%;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-color: #fff;
    box-shadow: 0 0 1rem white;
    text-shadow: 0 0 1rem var(--color-3);
    transition: 0.3s ease;
}


.social_links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: solid .2rem var(--color-primario);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-primario);
    text-decoration: none;
}

.social_links:hover {
    box-shadow: 0 0 1rem var(--color-primario);
    text-shadow: 0 0 1rem var(--color-3);
    transition: 0.3s ease;
}

@layer base {
    body {
        @apply font-secondary text-lg leading-8 text-white;
    }

    .h2 {
        @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
    }

    .h3 {
        @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
    }

    .btn {
        @apply rounded-full font-primary text-white font-bold text-xs;
    }

    .btn-sm {
        @apply h-[48px] px-4 text-sm;
    }

    .btn-lg {
        @apply h-[56px] px-10 text-xl;
    }

    .btn-link {
        @apply text-base;
    }

    .text-gradient {
        @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
    }

    .section {
        @apply py-8 lg:py-24 lg:h-screen flex items-center;
    }
}